body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding-right: 15px;
}

p,
a {
    font-size: 18px;
}

.main-container {
    flex: 1;
    background-color: #1f2937;
}

.container-one {
    padding-left: 10vw;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-links {
    padding-right: 15vw;
}

.header-logo {
    font-size: 24px;
}

.main-heading {
    font-size: 48px;
    font-weight: 900;
}

button, 
.call-to-action {
    background-color: #3882f6;
}

.container-two {
    display: flex;
}

.container-two-one {
    max-width: 25vw;
    padding-bottom: 10vh;
}

.container-placeholder {
    margin-top: 4vh;
    margin-left: 15vh;
    height: 250px;
    width: 30vw;
    background-color: grey;
}

.main-heading-text {
    margin-bottom: 20px;
}

button {
    border-style: none;
    padding: 5px 20px;
    color: white;
    border-radius: 10%;
}

.container-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    color: #1f2937;
}

.container-three-one {
    padding: 20px 0;
}

.container-three-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-three-two {
    display: flex;
    align-items: center;
}

.another-placeholder {
    border: 5px solid #3882f6;
    border-radius: 20%;
    height: 200px;
    width: 175px;
}

.paragraph-three {
    padding: 10px 30px;
    width: 175px;
    margin: 0 0 100px;
    text-align: center;

}

.container-four {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 120px 290px;
}

.paragraph-four {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.paragraph-four.one {
    font-style: italic;
}

.paragraph-four.two {
    font-weight: bold;
    text-align: right;
}

.header-action{
    margin: 0;
}

.container-action {
    background-color: white;
    padding: 80px 180px;
}

.call-to-action {
    padding: 40px 90px;
    display: flex;
}

.button-border {
    border: 1px solid#f9faf8;
}

.call-to-action-txt {
    margin-right: 150px;
}

.call-paragraph {
    margin: 0;
}

.call-to-action-btn {
    display: flex;
    align-items: flex-end;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
}